<html>
	<head>
		<title>Blog from Chris</title>
	</head>
	<body>
		<div>
			<h1><a href="" title="Chris Blog">Chris' Blog</a></h1>
		</div>
		<div>
			<p>published: 2017-10-03</p>
			<h2><a href="">My first post</a></h2>
			<p>Thank you for visit my blog. Hope you guys feel comfortable here.</p>
		</div>
		<div>
			<p>published: 2017-10-03</p>
			<h2><a href="">My second post</a></h2>
			<p>This blog is my first Django website.</p>
		</div>
		<p>Hi there!</p>
		<p>It works!</p>
	</body>

</html>
